<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMiy_Mb_CGrcceq87-D4FijZipSB5H8YE</string>
	<key>GCM_SENDER_ID</key>
	<string>37294812499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.penguinTimer</string>
	<key>PROJECT_ID</key>
	<string>habit-penguin-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-penguin-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37294812499:ios:19ebbfc28df443a485c5a6</string>
</dict>
</plist>